[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service
Before=nginx.service

[Service]
WorkingDirectory=/home/vagrant/code/epb-dev-tools
ExecStart=/usr/local/bin/docker compose up
ExecStop=/usr/local/bin/docker compose down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
